<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.made.uellisson.agrofrios24" >


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activityes.TelaPrincipal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activityes.CadastroCliente"
            android:label="@string/titulo_cadastro_clientes" >
        </activity>

        <activity
            android:name=".activityes.Importar_Clientes"
            android:label="@string/titulo_cadastro_clientes" >
        </activity>

        <activity
            android:name=".activityes.Importar_Produtos"
            android:label="@string/titulo_cadastro_clientes" >
        </activity>


        <activity
            android:name=".activityes.Editar_Cliente"
            android:label="@string/titulo_cadastro_clientes" >
        </activity>


        <activity
            android:name=".activityes.Configuracoes"
            android:label="@string/titulo_cadastro_clientes" >
        </activity>


        <activity
            android:name=".activityes.Tela_Gerenciar_Pedidos"
            android:label="@string/titulo_cadastro_clientes" >
        </activity>

        <activity
            android:name=".activityes.Tela_Gerenciar_Cad"
            android:label="@string/titulo_cadastro_clientes" >
        </activity>

        <activity
            android:name=".activityes.Editar_Cliente_end"
            android:label="@string/titulo_cadastro_clientes" >
        </activity>

        <activity
            android:name=".activityes.CadastroCliente_end"
            android:label="@string/titulo_cadastro_clientes" >
        </activity>

        <activity
            android:name=".activityes.CadastroProduto"
            android:label="@string/titulo_cadastro_produtos" >
        </activity>

        <activity
            android:name=".activityes.Editar_Produto"
            android:label="@string/alterar_produto" >
        </activity>

        <activity
            android:name=".activityes.Pedido_Cliente_act">
        </activity>

        <activity
            android:name=".activityes.Pedido_Produto_act"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:label="@string/titulo_produtos_pedido" >
        </activity>

        <activity
            android:name=".activityes.Editar_Pedido_Cliente"
            android:label="@string/titulo_alterar_pedido" >
        </activity>

        <activity
            android:name=".activityes.Editar_Pedido_Produto_up"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:label="@string/titulo_alterar_pedido" >
        </activity>


        <activity
            android:name=".activityes.Ver_pedido"
            android:label="@string/titulo_ver_pedidos" >
        </activity>

        <activity
            android:name=".activityes.Importar_Exportar"
            android:label="@string/titulo_importar_exportar" >
        </activity>
        <activity
            android:name=".activityes.Wr_arquivos"
            android:label="@string/titulo_pedido" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>
